.brand {
    background-color: dodgerblue;
    width: 700px;
    height: 100vh;
    background-image: url(imgs/1x/peep.png);
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FAF9F6; 
}

.login_fields_child {
    margin: 0 auto;
    height: auto;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    align-items: center;
}

.login_fields_parent {
    margin: 0 auto;
    height: 670px;
    width: 670px;
    position: relative;
    align-items: center;
}

.table_items {
    font-size: 20px;
    padding-top: 30px;
}
.email_field{
    width: 100%;
    border: none;
    font: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 7px 0px 7px 7px;
}
.pass_field{
    width: 100%;
    border: none;
    font: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 7px 0px 7px 7px;
}
.login_btn {
    width: 60%;
    border: none;
    font: 50px;
    border-radius: 30em;
    padding: 7px 0px 7px 0px;
    background-color: #1e90ff;
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
}

td {
    padding-top: 7px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 40px;
}
.login{
    border-radius: 10px;
    box-shadow: 2px 3px 9px #00000064;
}
label{
    padding: 0px 0px 15px 0px;
}
tr > td > a{
    color: #1e90ff; 
    text-decoration: none;
}
table{
    z-index: 1;
    margin: 0 auto;
    width: 90%;
}
.header-bar{
    width: 100vw;
    height: 60px;
    background-color: #1e90ff;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.header-logo{
    background-color: 000000;
    width: 90px;
    height: 40px;
    padding: 10px 10px 10px 20px;
    display: inline-block;
}
ul{
    list-style: none;
}
li{
    display: inline;
    padding: 10px;
}
.header-quick-btn{
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    padding: 1px 0px 0px 0px;
    display: inline-block;
}
.user-profile{
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block;
    align-content: center;
    padding-right: 20px;
}

.profile{
    display: inline-block;
    align-content: center;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    background-image: url(imgs/images.png);
}
.announce{
    width: 300px;
    background-color: white;
    height: 310px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000064;
}
.news{
    width: 300px;
    background-color: white;
    height: 310px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000064;
}
aside{
    display: grid;
    row-gap: 12px;
    padding-top: 20px;
    padding-left: 30px;
}

.content{
    width: 800px;
    height: 633px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000064;
}
.area{
    display:inline-flex;
}
main{
    padding: 20px 0px 0px 35px;
}

.right-aside{
    display: grid;
    row-gap: 12px;
    padding-top: 20px;
    padding-right: 30px;
}
.notifications{
    width: 300px;
    background-color: white;
    height: 310px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000064;
}
.community{
    width: 300px;
    background-color: white;
    height: 310px;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #00000064;
}
.main-scr{
    padding: 10px 20px;
    font-size: large;
    font-weight: 700;
}